<div id="carousel-example-generic col-md-6" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag('lady.jpg') %>
    </div>
    <div class="item">
      <%= image_tag('purple.jpg') %>
    </div>
    <div class="item">
      <%= image_tag('red.jpg') %>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-12">
      <%= render_content_page(@page, {
        :hide_sections => Refinery::Pages.default_parts,
        :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
      }) %>
    </div>
  </div>
</div>

<%= render '/refinery/draft_page_message' unless @page.try(:live?) -%>
